*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Arial, Helvetica, sans-serif;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

form{
  background: whitesmoke;
  padding: 10px;
  margin: 25px 0;
}

.list-header {
  font-size: 26px;
  width: 100%;
  font-weight: 600;
}

.list-wrapper{
  width: 100%;
}

.item-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.todo-wrapper{
  display: flex;
  justify-content: space-between;
}

.list-item{
  background: whitesmoke;
  margin: 10px 0;
  padding: 10px 5px;
  font-size: 20px;
  max-width: 200px;
  list-style-type: none;
}

.delete-icon{
  transition: 0.2s;
  cursor: pointer;
}

.delete-icon:hover{
  transform: scale(1.1);
}